@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Ten projekt został utworzony na potrzeby przedmiotu Programowanie Zaawansowane na Uniwersytet WSB Merito<br />
    Autorami projektu są: Hubert Bałuszyński oraz Szymon Rajczyk</p>

